.navbar{
				position:absolute; 
				top:950px; 
				left:2px;
				display:flex;
				flex-direction:row;
				justify-content:center;
				align-items:center;
			 width:100%;
				height:90px;
				border:none;
				border-width:4px;
				background:linear-gradient(#b88c11, #F0E68C, #F0E68C, #b88c11);
				}

.img-box0 img.img-hover{
				display:none;
				}
				
.img-box0:hover img.img-default{
				display:none;
				}
				
.img-box0:hover img.img-hover{
				display:inherit;
				}
			
.img-box1 img.img-hover {
				 display: none; 
     } 

.img-box1:hover img.img-default { 
				display: none; 
				} 
				
.img-box1:hover img.img-hover { 
				display: inherit; 
				}				

.img-box2 img.img-hover{
				display:none;
				}
				
.img-box2:hover img.img-default{
				display:none;
				}

.img-box2:hover img.img-hover{
				display:inherit;
				}
				
.img-box3 img.img-hover{
				display:none;
				}
				
.img-box3:hover img.img-default{
				display:none;
				}
		
.img-box3:hover img.img-hover{
				display:inherit;
				}
